/* menu.css */
.top-menu {
    background-color: #2b2929;
    color: #fff;
    padding: 15px 30px; /* Adjust the top and bottom padding */
    position: relative;
    z-index: 1;
}

.top-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu .logo {
    font-size: 20px;
    font-weight: bold;
}

/* Add this style for the additional text */
.top-menu .additional-text {
    font-size: 14px;
    color: #fff;
    margin-top: 5px; /* Add margin to separate it from the logo */
}

.top-menu .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-menu .nav-links li {
    display: inline;
    margin-right: 15px; /* Adjust the spacing between menu items */
}

.top-menu .nav-links li:last-child {
    margin-right: 0;
}

.top-menu .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* Adjust the font size */
    transition: color 0.3s;
}

.top-menu .nav-links a:hover {
    color: #ffc107;
}

.top-menu .nav-links .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 86%;
    background-color: #2b2929;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top-menu .nav-links .dropdown-content a {
    display: block;
    color: #fff;
    font-size: 14px; /* Adjust the font size */
    margin: 8px 0;
}

.top-menu .nav-links .dropdown.open .dropdown-content {
    display: block;
}

.content-wrapper {
    margin-top: 20px; /* Adjust as needed */
}
