/* menu.css */
.top-menu {
    background-color: #2b2929;
    color: #fff;
    padding: 25px 30px;
    position: relative;
    z-index: 1;
}

.top-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu .logo {
    font-size: 24px;
    font-weight: bold;
}

.top-menu .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-menu .nav-links li {
    display: inline;
    margin-right: 20px;
}

.top-menu .nav-links li:last-child {
    margin-right: 0;
}

.top-menu .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.top-menu .nav-links a:hover {
    color: #ffc107;
}

.top-menu .nav-links .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 86%;
    background-color: #2b2929;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top-menu .nav-links .dropdown-content a {
    display: block;
    color: #fff;
    font-size: 16px;
    margin: 8px 0;
}

.top-menu .nav-links .dropdown.open .dropdown-content {
    display: block;
}
